In [3]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"]=(20,10)

In [4]:
fraud_update_features = pd.read_csv('fraud_update_features.csv')
fraud_update_features.describe()

,Unnamed: 0,cust_id,fraud_update_features_1,fraud_update_features_2,fraud_update_features_3,fraud_update_features_6,fraud_update_features_7,fraud_update_features_8,fraud_update_features_9,fraud_update_features_10,fraud_update_features_11,fraud_update_features_12,fraud_update_features_13,fraud_update_features_14,fraud_update_features_17,fraud_update_features_18,fraud_update_features_19,fraud_update_features_20
count,872890.000000,8.728900e+05,872890.000000,872890.000000,872890.000000,872890.000000,872890.000000,872890.000000,872890.000000,872890.000000,872890.000000,872890.000000,872890.000000,872890.000000,125673.000000,19240.00000,153042.000000,872890.000000
mean,436444.500000,4.813231e+07,0.024292,0.185317,0.184125,0.034855,0.047363,0.000447,0.876947,0.243118,0.171932,0.959377,0.146221,0.527730,166.290444,171.60317,196.016283,0.233040
std,251981.782575,2.858956e+07,0.174235,0.433424,0.700014,0.417092,0.663568,0.042784,9.830989,0.784439,1.384827,3.183076,1.091294,2.366451,105.709200,105.70069,101.563653,0.422768
min,0.000000,1.080000e+02,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,3.00000,3.000000,0.000000
25%,218222.250000,2.307028e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,73.000000,76.00000,114.000000,0.000000
50%,436444.500000,4.754302e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,157.000000,168.00000,205.000000,0.000000
75%,654666.750000,7.358691e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,256.000000,263.00000,283.000000,0.000000
max,872889.000000,9.887209e+07,16.000000,40.000000,150.000000,33.000000,110.000000,15.000000,1874.000000,57.000000,266.000000,437.000000,332.000000,509.000000,365.000000,365.00000,365.000000,1.000000

In [5]:
fraud_update_features.drop(fraud_update_features.columns[[5,6,16,17,18,19,20]],axis='columns',inplace=True)
fraud_update_features.head(10)

,Unnamed: 0,cust_id,fraud_update_features_1,fraud_update_features_2,fraud_update_features_3,fraud_update_features_6,fraud_update_features_7,fraud_update_features_8,fraud_update_features_9,fraud_update_features_10,fraud_update_features_11,fraud_update_features_12,fraud_update_features_13,fraud_update_features_14,fraud_update_features_20
0,0,10021085,0,0,0,0,0,0,0,0,0,0,0,0,1
1,1,10061508,0,0,0,0,0,0,0,0,0,0,0,0,1
2,2,10104649,0,0,0,0,0,0,0,0,0,0,0,0,0
3,3,10107248,0,0,1,0,0,0,0,0,0,1,0,1,0
4,4,10124427,0,0,0,0,0,0,0,0,0,0,0,0,0
5,5,10143886,0,0,0,0,0,0,0,0,0,0,0,0,1
6,6,10146566,0,0,0,0,0,0,0,0,0,1,0,0,0
7,7,10176089,0,0,0,0,0,0,0,0,0,1,0,0,0
8,8,10203613,0,0,0,0,0,0,0,0,0,0,0,0,1
9,9,10213600,0,0,0,0,0,0,0,0,0,0,0,0,0

In [6]:
fraud_update_features.isna().sum()

Unnamed: 0                  0
cust_id                     0
fraud_update_features_1     0
fraud_update_features_2     0
fraud_update_features_3     0
fraud_update_features_6     0
fraud_update_features_7     0
fraud_update_features_8     0
fraud_update_features_9     0
fraud_update_features_10    0
fraud_update_features_11    0
fraud_update_features_12    0
fraud_update_features_13    0
fraud_update_features_14    0
fraud_update_features_20    0
dtype: int64

In [15]:
new_acc_fi = pd.read_csv('new_acct_fi.csv')
new_acc_fi.head()

,Unnamed: 0,cust_id,new_acct_fi_1,new_acct_fi_2,new_acct_fi_3,new_acct_fi_4,new_acct_fi_5,new_acct_fi_6,new_acct_fi_7,new_acct_fi_8,new_acct_fi_9,new_acct_fi_10,new_acct_fi_11,new_acct_fi_12,new_acct_fi_13,new_acct_fi_14,new_acct_fi_15,new_acct_fi_16,new_acct_fi_17
0,0,10004244,266.817095,1683.639988,1164.479865,267.041667,1684.041667,1164.694444,1,1,3,0,3,0,0,0,0,0,3
1,1,1001247,2552.330579,2552.330579,2552.330579,2553.000000,2553.000000,2553.000000,1,1,1,0,1,0,0,0,0,0,1
2,2,1002860,2303.076759,2303.076759,2303.076759,2302.041667,2302.041667,2302.041667,1,1,1,0,1,0,0,0,0,0,1
3,3,10044071,1757.191863,1757.191863,1757.191863,1758.041667,1758.041667,1758.041667,0,0,1,0,1,0,0,0,0,0,1
4,4,10045512,1031.925706,1273.035694,1152.480700,1033.041667,1243.041667,1138.041667,1,1,2,0,2,0,0,0,0,0,2

In [16]:
new_acc_fi.drop(new_acc_fi.columns[[11,14,15,16,17]],axis='columns',inplace = True)
new_acc_fi.describe()

,Unnamed: 0,cust_id,new_acct_fi_1,new_acct_fi_2,new_acct_fi_3,new_acct_fi_4,new_acct_fi_5,new_acct_fi_6,new_acct_fi_7,new_acct_fi_8,new_acct_fi_9,new_acct_fi_11,new_acct_fi_12,new_acct_fi_17
count,569104.000000,5.691040e+05,569104.000000,569104.000000,569104.000000,569104.000000,569104.000000,569104.000000,569104.000000,569104.000000,569104.000000,569104.000000,569104.000000,569104.000000
mean,284551.500000,4.068830e+07,699.522656,908.878780,799.422390,687.578510,835.286405,759.912686,0.695412,0.699654,1.513119,1.513337,0.000958,1.514296
std,164286.318135,2.793827e+07,562.070366,653.454743,567.118978,555.301279,607.910721,549.720488,0.465434,0.566169,1.185493,1.185208,0.032752,1.185358
min,0.000000,1.080000e+02,2.001852,2.004826,2.004826,3.000000,3.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,142275.750000,1.618070e+07,243.676878,328.475634,312.165709,235.041667,318.041667,304.041667,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000
50%,284551.500000,3.654649e+07,580.470897,802.105179,724.476585,574.041667,732.000000,679.041667,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000
75%,426827.250000,6.322793e+07,1010.213579,1371.140014,1165.279631,992.041667,1213.041667,1067.000000,1.000000,1.000000,2.000000,2.000000,0.000000,2.000000
max,569103.000000,9.886928e+07,3572.766817,3572.768206,3572.766817,3628.000000,3628.000000,3628.000000,4.000000,32.000000,253.000000,253.000000,3.000000,253.000000

In [9]:
new_acct_memo_rcv = pd.read_csv('new_acct_memo_rcv.csv')
new_acct_memo_rcv.describe()

,Unnamed: 0,cust_id,new_acct_memo_rcv_1,new_acct_memo_rcv_2,new_acct_memo_rcv_3,new_acct_memo_rcv_4,new_acct_memo_rcv_5,new_acct_memo_rcv_6,new_acct_memo_rcv_7,new_acct_memo_rcv_8,...,new_acct_memo_rcv_43,new_acct_memo_rcv_44,new_acct_memo_rcv_45,new_acct_memo_rcv_46,new_acct_memo_rcv_47,new_acct_memo_rcv_48,new_acct_memo_rcv_49,new_acct_memo_rcv_50,new_acct_memo_rcv_51,new_acct_memo_rcv_52
count,771148.000000,7.711480e+05,771148.000000,771148.000000,771148.000000,771148.000000,771148.000000,771148.000000,771148.000000,771148.000000,...,771148.000000,771148.000000,771148.000000,771148.000000,771148.000000,771148.000000,771148.000000,771148.000000,771148.000000,771148.000000
mean,385573.500000,4.469080e+07,1.600612,68.472490,33.330645,3.021445,0.257962,108.218409,34.886243,3.673628,...,21.800130,1.998781,0.076539,14.350296,10.630015,0.795866,0.487678,44.045875,29.390159,2.301423
std,222611.397031,2.766944e+07,7.098554,395.026717,122.383755,17.482666,1.602295,942.389550,195.126281,36.921825,...,141.521005,26.226906,0.661587,161.708019,93.761429,14.076516,3.675278,242.084394,128.177253,19.093640
min,0.000000,1.080000e+02,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,192786.750000,2.055555e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,385573.500000,4.303749e+07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,578360.250000,6.793146e+07,2.000000,41.000000,25.000000,1.810811,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,771147.000000,9.899213e+07,2162.000000,107213.000000,4999.990000,3000.000000,113.000000,91648.860000,4999.990000,4999.990000,...,4999.990000,4700.000000,233.000000,33114.070000,4999.000000,2390.000000,2494.000000,24763.350000,4999.990000,3100.000000

In [8]:
new_acct_memo_rcv.isna().sum()

Unnamed: 0              0
cust_id                 0
new_acct_memo_rcv_1     0
new_acct_memo_rcv_2     0
new_acct_memo_rcv_3     0
new_acct_memo_rcv_4     0
new_acct_memo_rcv_5     0
new_acct_memo_rcv_6     0
new_acct_memo_rcv_7     0
new_acct_memo_rcv_8     0
new_acct_memo_rcv_9     0
new_acct_memo_rcv_10    0
new_acct_memo_rcv_11    0
new_acct_memo_rcv_12    0
new_acct_memo_rcv_13    0
new_acct_memo_rcv_14    0
new_acct_memo_rcv_15    0
new_acct_memo_rcv_16    0
new_acct_memo_rcv_17    0
new_acct_memo_rcv_18    0
new_acct_memo_rcv_19    0
new_acct_memo_rcv_20    0
new_acct_memo_rcv_21    0
new_acct_memo_rcv_22    0
new_acct_memo_rcv_23    0
new_acct_memo_rcv_24    0
new_acct_memo_rcv_25    0
new_acct_memo_rcv_26    0
new_acct_memo_rcv_27    0
new_acct_memo_rcv_28    0
new_acct_memo_rcv_29    0
new_acct_memo_rcv_30    0
new_acct_memo_rcv_31    0
new_acct_memo_rcv_32    0
new_acct_memo_rcv_33    0
new_acct_memo_rcv_34    0
new_acct_memo_rcv_35    0
new_acct_memo_rcv_36    0
new_acct_memo_rcv_37    0
new_acct_memo_rcv_38    0
new_acct_memo_rcv_39    0
new_acct_memo_rcv_40    0
new_acct_memo_rcv_41    0
new_acct_memo_rcv_42    0
new_acct_memo_rcv_43    0
new_acct_memo_rcv_44    0
new_acct_memo_rcv_45    0
new_acct_memo_rcv_46    0
new_acct_memo_rcv_47    0
new_acct_memo_rcv_48    0
new_acct_memo_rcv_49    0
new_acct_memo_rcv_50    0
new_acct_memo_rcv_51    0
new_acct_memo_rcv_52    0
dtype: int64

In [9]:
new_acct_memo_sent = pd.read_csv('new_acct_memo_sent.csv')
new_acct_memo_sent.shape

(841975, 54)

In [10]:
new_acct_memo_sent.isna().sum()

Unnamed: 0               0
cust_id                  0
new_acct_memo_sent_1     0
new_acct_memo_sent_2     0
new_acct_memo_sent_3     0
new_acct_memo_sent_4     0
new_acct_memo_sent_5     0
new_acct_memo_sent_6     0
new_acct_memo_sent_7     0
new_acct_memo_sent_8     0
new_acct_memo_sent_9     0
new_acct_memo_sent_10    0
new_acct_memo_sent_11    0
new_acct_memo_sent_12    0
new_acct_memo_sent_13    0
new_acct_memo_sent_14    0
new_acct_memo_sent_15    0
new_acct_memo_sent_16    0
new_acct_memo_sent_17    0
new_acct_memo_sent_18    0
new_acct_memo_sent_19    0
new_acct_memo_sent_20    0
new_acct_memo_sent_21    0
new_acct_memo_sent_22    0
new_acct_memo_sent_23    0
new_acct_memo_sent_24    0
new_acct_memo_sent_25    0
new_acct_memo_sent_26    0
new_acct_memo_sent_27    0
new_acct_memo_sent_28    0
new_acct_memo_sent_29    0
new_acct_memo_sent_30    0
new_acct_memo_sent_31    0
new_acct_memo_sent_32    0
new_acct_memo_sent_33    0
new_acct_memo_sent_34    0
new_acct_memo_sent_35    0
new_acct_memo_sent_36    0
new_acct_memo_sent_37    0
new_acct_memo_sent_38    0
new_acct_memo_sent_39    0
new_acct_memo_sent_40    0
new_acct_memo_sent_41    0
new_acct_memo_sent_42    0
new_acct_memo_sent_43    0
new_acct_memo_sent_44    0
new_acct_memo_sent_45    0
new_acct_memo_sent_46    0
new_acct_memo_sent_47    0
new_acct_memo_sent_48    0
new_acct_memo_sent_49    0
new_acct_memo_sent_50    0
new_acct_memo_sent_51    0
new_acct_memo_sent_52    0
dtype: int64

In [11]:
new_acct_receiver = pd.read_csv('new_acct_receiver.csv')
new_acct_receiver.shape

(771148, 82)

In [12]:
new_acct_receiver.isna().sum()

Unnamed: 0          0
cust_id             0
acct_receiver_1     0
acct_receiver_2     0
acct_receiver_3     0
                   ..
acct_receiver_76    0
acct_receiver_77    0
acct_receiver_78    0
acct_receiver_79    0
acct_receiver_80    0
Length: 82, dtype: int64

In [13]:
new_acct_sender = pd.read_csv('new_acct_sender.csv')
new_acct_sender.head()

,Unnamed: 0,cust_id,accnt_sender_1,accnt_sender_2,accnt_sender_3,accnt_sender_4,accnt_sender_5,accnt_sender_6,accnt_sender_7,accnt_sender_8,...,accnt_sender_102,accnt_sender_103,accnt_sender_104,accnt_sender_105,accnt_sender_106,accnt_sender_107,accnt_sender_108,accnt_sender_109,accnt_sender_110,accnt_sender_111
0,0,10003741,5,3,2,1,0,0,0,0,...,0.00,0.00,0.00,0.0,0.0,0,0,0,0,0
1,1,10004362,17,9,6,3,1,2,0,0,...,0.00,0.00,0.00,0.0,0.0,0,0,0,0,0
2,2,1001738,8,7,6,5,2,0,0,0,...,0.00,0.00,0.00,0.0,0.0,0,0,0,0,0
3,3,10021750,19,5,4,3,0,0,0,0,...,0.00,0.00,0.00,0.0,0.0,0,0,0,0,0
4,4,10033036,4,3,3,1,0,1,1,1,...,12.02,12.02,12.02,0.0,0.0,4,4,4,0,0

In [14]:
new_acct_sender.isna().sum()

Unnamed: 0          0
cust_id             0
accnt_sender_1      0
accnt_sender_2      0
accnt_sender_3      0
                   ..
accnt_sender_107    0
accnt_sender_108    0
accnt_sender_109    0
accnt_sender_110    0
accnt_sender_111    0
Length: 113, dtype: int64

In [15]:
payment_cashout_fail_df = pd.read_csv('payment_cashout_fail_df.csv')
payment_cashout_fail_df.shape

(49978, 58)

In [16]:
payment_cashout_fail_df.isna().sum()

Unnamed: 0                     0
cust_id                        0
payment_cashout_fail_1         0
payment_cashout_fail_2         0
payment_cashout_fail_3         0
payment_cashout_fail_4         0
payment_cashout_fail_5         0
payment_cashout_fail_6         0
payment_cashout_fail_7         0
payment_cashout_fail_8         0
payment_cashout_fail_9         0
payment_cashout_fail_10        0
payment_cashout_fail_11        0
payment_cashout_fail_12        0
payment_cashout_fail_13        0
payment_cashout_fail_14        0
payment_cashout_fail_15        0
payment_cashout_fail_16        0
payment_cashout_fail_17        0
payment_cashout_fail_18        0
payment_cashout_fail_19        0
payment_cashout_fail_20        0
payment_cashout_fail_21        0
payment_cashout_fail_22        0
payment_cashout_fail_23        0
payment_cashout_fail_24        0
payment_cashout_fail_25        0
payment_cashout_fail_26        0
payment_cashout_fail_27        0
payment_cashout_fail_28    44581
payment_cashout_fail_29        0
payment_cashout_fail_30        0
payment_cashout_fail_31        0
payment_cashout_fail_32        0
payment_cashout_fail_33        0
payment_cashout_fail_34        0
payment_cashout_fail_35        0
payment_cashout_fail_36        0
payment_cashout_fail_37        0
payment_cashout_fail_38        0
payment_cashout_fail_39        0
payment_cashout_fail_40        0
payment_cashout_fail_41        0
payment_cashout_fail_42     6665
payment_cashout_fail_43        0
payment_cashout_fail_44        0
payment_cashout_fail_45        0
payment_cashout_fail_46        0
payment_cashout_fail_47        0
payment_cashout_fail_48        0
payment_cashout_fail_49        0
payment_cashout_fail_50        0
payment_cashout_fail_51        0
payment_cashout_fail_52        0
payment_cashout_fail_53        0
payment_cashout_fail_54        0
payment_cashout_fail_55        0
payment_cashout_fail_56     2807
dtype: int64

In [17]:
train = pd.read_csv('train_df.csv')

In [18]:
new_acct_memo_rcv.drop(new_acct_memo_rcv.columns[[0]],axis='columns',inplace=True)
new_acct_memo_sent.drop(new_acct_memo_sent.columns[[0]],axis='columns',inplace=True)
merged_df = pd.merge(new_acct_memo_rcv,new_acct_memo_sent,on="cust_id")
merged_df.shape

(713123, 105)

In [19]:
train.head()

    cust_id  target
0  46006086     0.0
1  13494269     0.0
2  58609039     0.0
3  14920847     0.0
4  59616399     1.0

In [20]:
mer = pd.merge(merged_df,train,on="cust_id")
mer.shape

(570419, 106)

In [21]:
merge_t = pd.merge(merged_df,new_acct_receiver,on="cust_id")
merge_trial = pd.merge(merge_t,new_acct_sender,on="cust_id")

In [22]:
merge_trial.shape

(713123, 298)

In [23]:
merge1 = pd.merge(merge_trial,fraud_update_features,on="cust_id")
merge1.shape

(696670, 312)

In [24]:
corr_new_acct_receiver = new_acct_receiver.corr()
corr_new_acct_receiver.to_csv("corr_new_acct_receiver.csv")

In [25]:
testing = pd.read_csv('test_cust_id.csv')
testing.head()

    cust_id
0  26570415
1  73696303
2  46327032
3  40194630
4  18735326

In [26]:
train_test = pd.merge(,testing,on="cust_id")
train_test.shape

(0, 2)

In [30]:
test_df = pd.merge(testing,merged_df,on="cust_id")
test_df.shape

(142704, 105)